In [1]:
import sqlite3

In [5]:
con = sqlite3.connect('./data/chinook.db')
curs = con.cursor()

In [8]:
statement = """

SELECT COUNT(*) FROM
    (SELECT DISTINCT FirstName, LastName FROM customers)

"""

curs.execute(statement)
print(*curs.fetchall(), sep='\n')

(59,)