# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM Schema

In almost all cases, rather than just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins** using shared columns from the two tables. 

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
!ls

data.sqlite  images  join-statements.ipynb  README.md  venn.png

In [3]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('./data.sqlite')
cursor = connection.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [21]:
query = """

SELECT e.firstName, e.lastName, o.city
    FROM employees e
    JOIN offices o ON o.officeCode = e.officeCode

"""

cursor.execute(query)
result = cursor.fetchall()
print(*result, sep='\n')

# df = pd.read_sql(query, connection)
# df

('Diane', 'Murphy', 'San Francisco')
('Mary', 'Patterson', 'San Francisco')
('Jeff', 'Firrelli', 'San Francisco')
('William', 'Patterson', 'Sydney')
('Gerard', 'Bondur', 'Paris')
('Anthony', 'Bow', 'San Francisco')
('Leslie', 'Jennings', 'San Francisco')
('Leslie', 'Thompson', 'San Francisco')
('Julie', 'Firrelli', 'Boston')
('Steve', 'Patterson', 'Boston')
('Foon Yue', 'Tseng', 'NYC')
('George', 'Vanauf', 'NYC')
('Loui', 'Bondur', 'Paris')
('Gerard', 'Hernandez', 'Paris')
('Pamela', 'Castillo', 'Paris')
('Larry', 'Bott', 'London')
('Barry', 'Jones', 'London')
('Andy', 'Fixter', 'Sydney')
('Peter', 'Marsh', 'Sydney')
('Tom', 'King', 'Sydney')
('Mami', 'Nishi', 'Tokyo')
('Yoshimi', 'Kato', 'Tokyo')
('Martin', 'Gerard', 'Paris')

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by.

In [ ]:
#Your code here

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
# Example: Display the htmlDescription and employee's first and last name for each product that each employee has sold

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of every individual product that each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
# Your code here

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!